absl-py==1.4.0
bing-image-downloader==1.1.2
elevenlabs==0.2.18
ffmpeg-python==0.2.0
ffmpy==0.3.0
google-api-core==2.11.0
google-api-python-client==2.89.0
google-auth==2.19.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-appengine-logging==1.3.0
google-cloud-audit-log==0.2.5
google-cloud-core==2.3.2
google-cloud-firestore==2.11.1
google-cloud-logging==3.5.0
google-cloud-storage==2.9.0
google-cloud-texttospeech==2.14.1
google-crc32c==1.5.0
google-events==0.7.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
huggingface-hub==0.17.3
imageio==2.31.5
imageio-ffmpeg==0.4.8
importlib-metadata==6.8.0
importlib-resources==6.1.0
install==1.3.5
moviepy==1.0.3
numpy==1.24.3
openai-whisper==20230314
opencv-python==4.7.0.72
pytorch-lightning==2.0.5
pytube==15.0.0
tokenizers==0.14.1
torch==2.0.1
torchdiffeq==0.2.3
torchmetrics==0.11.4
torchsde==0.2.5
torchvision==0.15.2
tornado==6.3.2
torrequest==0.1.0
tqdm==4.66.1
transformers==4.34.0
whisper-timestamped @ git+https://github.com/linto-ai/whisper-timestamped@2c55305d6aa53f0c0fa1fe63fc85c33bfa60e963